* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('img/bg-image.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    color: black;
    text-shadow: 10vh;
}

#rotate-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 24px;
  text-align: center;
}

canvas {
    background-color: black;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    z-index: 1000;
    cursor: pointer;
    font-size: 18px;
    color: black;
    background-color: goldenrod;
}

.fullScreenContainer {
    position: relative;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullScreenContainer h1 {
    display: none;
}

.fullscreen-icon {
    width: 50px;
    height: 50px;
}

.top-btn-left {
    display: flex;
}

.top-btn-right {
    display: flex;
}

.start-btn {
    margin-left: -35px;
}

.restart-btn {
    display: none;
    margin-left: 0;
}

.icon {
    width: 50px;
    height: 50px;
}

.game-btn {
    position: absolute;
    height: 70px;
    width: 70px;
    top: 50%;
}

.game-btns {
    display: flex;
}

.home-btn {
    display: none;
    margin-left: -70px;
}

 .controlls-btn-container {
    display: none ; 
    position: absolute;
    bottom: 0;
    justify-content:center;
    gap: 50%;
}

.moves {
    display: flex;
    gap: 60px;
}

.throwAndJump {
    display: flex;
    gap: 60px;
}

#controllPopUp {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.controlling-information {
    display: flex;
    flex-direction: column;

    width: fit-content;
    height: fit-content;
    padding-top: 8px;
    text-align: left;
    color: goldenrod;
    background-color: black;
}

dialog {
    margin: auto;

    box-shadow: 0 6px 16px rgba(0,0,0,0.3);
}

dialog::backdrop {
    background: rgba(0,0,0,0.6);
    cursor: pointer;
}

dialog[open] {
    animation: slide-in 0.3s ease forwards;
}

@keyframes slide-in {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.game-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.controlls-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

ul {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: underline;
    height: 50px;
    width: 90dvw;
    bottom: 0;
}

@media (max-height: 1024px ) {
    @media (max-width: 1400px) {
        @media (hover: none) {
            .controlls-btn-container {
                max-width: 720px;
            }            

            .fullscreen-btn {
                display: none;
            }
        }

        canvas {
            width: 100dvw;
            height: 100dvh;
            overflow: hidden;
        }

        .fullScreenContainer {
            position: absolute;
            justify-content: flex-end;
            top: 0;
            width: 90%;
        }

        footer {
            position: absolute;
            justify-content: flex-start;
            align-items: flex-start;
            top: 0;
            width: 90%;

        }

        @media (max-width: 700px) {
            .controlls-btn-container {
                gap: 20%;
            }

            footer h2 {
                font-size: 18px;
            }
        }
    }
}

@media (hover: none) {
    @media screen and (orientation: portrait) {
    #rotate-message {
        display: flex;
    }

    }

    @media screen and (orientation: landscape) {
    #rotate-message {
        display: none;
    }

    }
}

@media (max-height: 550px) {
    .game-btn-container {
        top: 86%;
    }

    button {
        height: 35px;
        width: 35px;
    }

    .game-btn {
        height: 40px;
        width: 40px;
    }

    .start-btn {
        margin-left: -20px;
    }

    .home-btn {
        margin-left: -40px;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 700px) {
        .game-btn-container {
            gap: 20%;
        }
    }
 
}