* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('img/bg-image.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    
    font-family: "Josefin Sans", sans-serif;
}

h1 {
    color: black;
    text-shadow: 10vh;
}

#rotate-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-size: 24px;
  text-align: center;
}

canvas {
    background-color: black;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    z-index: 1000;
    cursor: pointer;
    font-size: 18px;
    color: black;
    background-color: goldenrod;
    box-shadow: inset;
}

.fullScreenContainer {
    position: relative;
    width: 720px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fullscreen-icon {
    width: 50px;
    height: 50px;
}

.top-btn-right {
    display: flex;
}

.top-btn-right {
    display: flex;
}

#muteBtn img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.restart-btn {
    display: none;
    justify-content: center;
    align-items: center;
}

.restart-icon {
    width: 50px;
    height: 50px;
}

.game-btn-container {
    display: none;
    position: absolute;
    top: 430px;
    width: 720px;
    justify-content: space-evenly;

}

.moves {
    display: flex;
    gap: 10px;
}

.throwAndJump {
    display: flex;
    gap: 10px;
}

#controllPopUp {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.controlling-information {
    display: none;
    width: 720px;
    height: 120px;
    text-align: left;
    color: goldenrod;
    background-color: black;
    padding-top: 8px;
}

ul {
    padding-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aquamarine;
}

footer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 50px;
    width: 720px;
}

@media (max-height: 750px) {
    .game-btn-container {
        display: flex;
        top: 90%;
        width: 100%;
    }
    
    canvas {
        width: 90dvw;
        height: 90dvh;
    }

    .fullScreenContainer {
        width: 90%;
    }

    .controlling-information {
        width: 90%;
        height: fit-content;
    }
}

@media screen and (orientation: portrait) {
  #rotate-message {
    display: flex;
  }

}

@media screen and (orientation: landscape) {
  #rotate-message {
    display: none;
  }

}